@import "../../variables.scss";

.header {
  box-sizing: border-box;
  display: flex;
  background: $color-green;
  color: $color-white;
  font-weight: $font-semi-bold;
  padding: 1rem;
  position: relative;
  width: 100%;

  > div {
    width: 25%;
  }
}

.pictoFilter {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-left: $space-small;

  svg {
    fill: $color-white;
  }
}

.filterWrapper {
  display: block;
  width: 100%;

  @media only screen and (min-width: $mobile-screen-breakpoint) {
    width: 8rem;
  }
}
