$color-greyDark: #8191a0;
$color-purple: #936;
$color-green: #5dc189;
$color-white: #ffffff;

$font-semi-bold: 700;

$space-x-small: 0.5rem;
$space-small: 1rem;
$space-large: 2rem;
$space-x-large: 4rem;

$mobile-screen-breakpoint: 768px;
